<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600444494083-glcejcot2hjvheapvbulb8m3cc6m3mh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600444494083-glcejcot2hjvheapvbulb8m3cc6m3mh5</string>
	<key>API_KEY</key>
	<string>AIzaSyAI69PCAwJTPeshfkxWu3DysoClJjDxclI</string>
	<key>GCM_SENDER_ID</key>
	<string>600444494083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SameliukFlash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-8e248</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-8e248.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600444494083:ios:1fc5222628d101d0150936</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-8e248.firebaseio.com</string>
</dict>
</plist>